body {
  user-select: none;
  margin: auto;
  background-color: black;
}

#wrapper {
  position: auto;
}

#instructionScreen {
  display: none;
  background-color: black;
  justify-items: right;
}

h1 {
  margin: 0 auto;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: "VT323", monospace;
  font-size: 6vw;
}

#instructionScreen video {
  width: 60%;
  transform: translate(0%, 5%);
}

#enterGif {
  width: 30%;
  padding: 2%;
  display: inline-block;
}

#instructText {
  margin: auto 5%;
  display: block;
  padding: 2%;
  color: white;
  font-family: "VT323", monospace;
  font-size: 4vw;
}

#gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: url("images/splashscreen.webp");
  background-size: cover;
  object-fit: contain;
}

.gameLayer {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.buttons {
  cursor: pointer;
  width: 15%;
  display: block;
}

#startScreen {
  text-align: center;
}

#startScreen img {
  margin: auto;
  margin-top: 10%;
}

#instructorGif {
  height: 50%;
  margin: 20% 20% 0 auto;
  display: block;
}

#playerImg img {
  position: absolute;
  height: 65%;
  margin: 0;
  display: block;
  transform: translate(80%, 35%);
  justify-content: center;
  z-index: 10;
}

#scoreScreen {
  display: none;
  justify-content: center;
}

#score {
  color: white;
  font-family: "VT323", monospace;
  font-size: 6vw;
}

#winnerGif {
  position: absolute;
  display: block;
  width: 100%;
}

#loserImg {
  position: absolute;
  display: block;
  width: 100%;
}
